*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/*.none {
    display: none;
}*/

/* Section */

.section-button-wrapper {
    text-align: center;
 }


 .section-new {
     padding-top: 60px;
     padding-bottom: 70px;
 }

 .section-features {
     padding-top: 70px;
     padding-bottom: 70px;
 }

 .section-blog {
     padding-top: 70px;
     padding-bottom: 45px;
 }

 .section-subscribe {
     padding-top: 45px;
     padding-bottom: 100px;
 }
