.footer {
   padding: 30px 0;
   color: #000000;
   background-color: #000000;
}

.footer a {
    color: #ffffff;
}

.footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__nav {
    margin-bottom: 25px;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__nav a {
    text-decoration: none;
    transition: opacity 0.2s ease-in;
}

.footer__nav a:hover {
    opacity: 0.8;
}

.footer__nav > a + a {
    margin-left: 30px;
}


.footer__socials {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}


.footer__socials-link {
   text-decoration: none;
}

.footer__socials-link + .footer__socials-link {
    margin-left: 30px;
}


.footer__socials-icon path {
   transition: fill 0.2s ease-in;
}

.footer__socials-icon:hover path {
    fill: #f72464;
}


.footer__copyright {
    font-size: 14px;
    text-align: center;
    color: #999999;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.footer__copyright a {
    margin: 0;
}                                                                                

.footer__copyright:hover {
    background-color: #F72464;
    color: #ffffff;
}
